<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
        <h1>Add an Employee</h1>
        <hr>
        <form action="/add_emp" method="post">
            {% csrf_token %}
            <label for="first_name">First Name</label><br>
            <input type="text" id="first_name" name="first_name" value="{{first_name}}"> <br>
            <label for="last_name">Last Name</label><br>
            <input type="text" id="last_name" name="last_name" value="{{last_name}}"><br>
            <label for="salary">Salary</label><br>
            <input type="number" id="salary" name="salary" value="{{salary}}"><br>
            <label for="dept">Department</label><br>
            <input type="number" id="dept" name="dept" value="{{dept}}"><br>
            <label for="role">Role</label><br>
            <input type="number" id="role" name="role" value="{{role}}"><br>
            <label for="bonus">Bonus</label><br>
            <input type="number" id="bonus" name="bonus" value="{{bonus}}"><br>
            <label for="phone">Phone Number</label><br>
            <input type="number" id="phone" name="phone" value="{{phone}}"><br>
            <hr>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>